html,
body {
  margin: 0;
  padding: 0;
}
#app {
  width: 100vw;
  height: 100vh;
}

#banner {
  width: 100vw;
  height: 53.3334vw;
  background: lightblue;
}

.box {
  width: 100vw;
  padding: 2.6667vw 2.6667vw 0;
  box-sizing: border-box;
}

.banner-bottom {
  background: lightcyan;
}
.kaiheyouxi {
  background: lightpink;
}
.jianhuo {
  background: lightgreen;
}
.mybrand {
  background: lightseagreen;
}
